### 🗂️ Dataset Link  
**🔗 [Click here](https://drive.google.com/file/d/1x-phOl0d1QHy4ea8O_hHdz_wBGH35dRz/view) for the dataset required to solve the questions below**  


---

### 📌 General Instructions

**A)** Shape of the dataset is **(10000, 12)**  
> 📌 *Note: If you do not obtain this shape after loading the data, it may indicate that the dataset was not uploaded correctly into the Colab environment.*

**B)** For simplicity, consider all the unknown values represented by `"?"` as **null values** for this assignment.

**C)** Treat each question **independently**, unless explicitly instructed otherwise.  
Use the given CSV data to compute **all the solutions**.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/Week1_GA_dataset.csv")

In [ ]:
df.shape

(10000, 12)

In [ ]:
df.head(2)

,Date,Year,Locality,Estimated Value,Sale Price,Property,Residential,num_rooms,num_bathrooms,carpet_area,property_tax_rate,Face
0,2009-01-02,2009,Waterbury,111440.0,185000.0,Single Family,Detached House,3,3,996.0,1.025953,South
1,2009-01-02,2009,Bridgeport,124670.0,150000.0,Two Family,Duplex,4,3,1241.0,1.025953,South

How many unknown ("?) values are present in the dataset? Remove/Delete unknown ("?) values present in the dataset to make it null value.
Remove/Delete - means it will show NAN in place of "?"
Note: If there is no value present in the dataset it is represented as NAN(read pandas documentation for all the other ways to represent null values) in data

In [ ]:
df.replace("?", np.nan)
df.isna().sum().sum()

np.int64(5548)

What is the shape of the dataset ?

In [ ]:
df.shape

(10000, 12)

What is the value present at the 692th indexed row and 0th indexed column in the data ?

dataframe[692,0] (simpy saying this in a matrix)
rows/ columns starts indexing from zero(0) in python

In [ ]:
df.iloc[692,0]

'2009-11-16'


What is the value present at the 546th indexed row and 7th indexed column in the data ?
 dataframe[546,7] (simpy saying this in a matrix)
 rows/ columns starts indexing from zero(0) in python

In [ ]:
df.iloc[546,7]

np.int64(3)

What are the unique values present in the Locality feature of the dataset?

In [ ]:
df["Locality"].unique()

array(['Waterbury', 'Bridgeport', 'Greenwich', 'Norwalk', nan,
       'Fairfield', 'West Hartford', 'Stamford'], dtype=object)

Which of the following features have missing(NaN) values present in the dataset?
(Note: compute after removing "?")

In [ ]:
df.columns[df.isna().any()].tolist()

['Locality', 'Estimated Value', 'Property', 'carpet_area']

Which of the following feature has most missing(NaN) values present in the dataset?
 (Note: compute after removing "?")

In [ ]:
df.isna().sum()

Date                    0
Year                    0
Locality             1253
Estimated Value      1243
Sale Price              0
Property             1823
Residential             0
num_rooms               0
num_bathrooms           0
carpet_area          1229
property_tax_rate       0
Face                    0
dtype: int64

Drop all the samples(rows) with missing values strictly greater than 2. How many samples remains after that ?
 (Note: compute after removing "?")

In [ ]:
df_dropped = df.dropna(thresh=df.shape[1]-2)
df_dropped.shape[0]

9917

Drop all the samples(rows) with missing values in the original dataframe. How many samples remains after that ?
 (Note: compute after removing "?")

In [ ]:
df_cleaned = df.dropna()
df_cleaned.shape[0]

5449